/*Index page styles*/
.hidden-img {
  display: none;
}

.slide-imgs {
  height: 1000px;
  width: 1000px;
}

.remove-background {
  background-color: black;
}

.add-background  {
  background-image: url(../img/star1.jpg);
  font-family: monospace;
}

h1 {
  text-align: center;
}

.main-landing-panel {
  margin-top: 300px;
}

.panel-transparent {
  background: none;
}

.panel-transparent .panel-heading {
  background: rgba(46, 51, 56, 0.5);
  color: white;
}

.panel-transparent .panel-body {
  background: rgba(46, 51, 56, 0.5);
  color: white;
}

.left-sidebar {
  background: rgba(46, 51, 56, 0.5);
  color: white;
}

.right-div {
  background: rgba(46, 51, 56, 0.5);
  color: white;
}

button {
  color: white;
}

.spaceTravel-div {
  display: none;
}

a {
  color: #f04fff;
}

a:hover {
  color: #f04fff;
  opacity: 0.5;
}

a:focus {
  color: #f04fff;
  opacity: 0.5;
}


.btn-link {
  color: #f04fff;
}

.btn-link:hover {
  color: #f04fff;
  opacity: 0.5;
}

.btn-link:focus {
  color: #f04fff;
  opacity: 0.5;
  border: none;
}

/*Solar system page styles*/
#square0 {
  border: white 1px solid;
  background-color: #f089f9;
  color: #f089f9;
}

/*voyager*/
#square1 {
  border: white 1px solid;
  background-color: #c741d3;
  color: #c741d3;
}

/*galileo*/
#square2 {
  border: white 1px solid;
  background-color: #f04fff;
  color: #f04fff;
}

#square3 {
  border: white 1px solid;
  background-color: #832a8c;
  color: #832a8c;
}

#square4 {
  border: white 1px solid;
  background-color: #5a1c60;
  color: #5a1c60;
}

/*Styles for distance circles on solar system page*/
#travel-apollo {
  fill: #f089f9;
  /*opacity: 0.5;*/
}

#travel-galileo {
  fill: #f04fff;
  opacity: 0.5;
}

#travel-voyager {
  fill: #aa38b5;
  opacity: 0.5;
}

#travel-msl {
  fill: #832a8c;
  opacity: 0.5;
}

#travel-constant {
  fill: #5a1c60;
  opacity: 0.5;
}

/*Styles for each planet / body on solar system page*/
#belt {
  position: absolute;
  top: 330px;
  left: -150px;
}

#Neptune {
  color: #537cfe;
  text-decoration: underline;
}

#Uranus {
  color: #a8fffa;
  text-decoration: underline;
}

#Saturn {
  color: #A88B6D;
  text-decoration: underline;
}

#Jupiter {
  color: #C1844D;
  text-decoration: underline;
}

#Mars {
  color: #b53b03;
  text-decoration: underline;
}

#Earth {
  color: #66d633;
  text-decoration: underline;
}

#Venus {
  color: #de5f25;
  text-decoration: underline;
}

#Mercury {
  color:#bfbfbf;
  text-decoration: underline;
}

#Sun {
  color:#e53d00;
  text-decoration: underline;
}

#Ceres {
  color: #a08e7a;
  text-decoration: underline;
}

#Pluto {
  color: #dbb874;
  text-decoration: underline;
}

.orbit {
  fill: none;
  stroke: white;
  opacity: .50;
  stroke-dasharray: 15, 20;
  stroke-width: 2;
}

/*Tool tip and other window styles*/
.well {
  background: rgba(46, 51, 56, 0.5);
}

.tooltip-inner {
  max-width: 800px;
  font-family: monospace;
  font-size: 1.5em;
  text-align: left;
  background: none;
}

.input-rect {
  float: right;
  font-family: monospace;
  text-align: left;
  font-size: 20px;
  font-weight: 100;
  background: rgba(46, 51, 56, 0.5);
  padding: 50px;
  padding-bottom: 25px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.8);
  font-weight: normal;
  position: absolute;
  right: 5%;
  top: 5%;
}

input[type=number]{
  color: black;
  background-color: rgba(255, 255, 255, 0.75);
  border: none;
}

#back {
  float: right;
  margin-left: 5px;
}

button {
  color: black;
}
