body  {
  background-image: url(../img/star1.jpg);
}

.orbit {
  fill: none;
  stroke: white;
  opacity: .50;
  stroke-dasharray: 15, 20;
  stroke-width: 2;
}


.tooltip-inner {
  max-width: 800px;
  font-family: monospace;
  font-size: 1.5em;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.1)
}

#Neptune {
  color: #537cfe;
  text-decoration: underline;
}

#Uranus {
  color: #C7EDF0;
  text-decoration: underline;
}

#Saturn {
  color: #A88B6D;
  text-decoration: underline;
}

#Jupiter {
  color: #C1844D;
  text-decoration: underline;
}

#Mars {
  color: #b53b03;
  text-decoration: underline;
}

#Earth {
  color: #2873ff;
  text-decoration: underline;
}

#Venus {
  color: #de5f25;
  text-decoration: underline;
}

#Mercury {
  color:#bfbfbf;
  text-decoration: underline;
}

/*style="fill:none;stroke:green;stroke-width:2"*/
